server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cbs_mvp
    username: cbs
    password: cbs
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      encoding: UTF-8

logging:
  level:
    org.springframework.scheduling: INFO
